:root {
    --TEXT_COLOR: #FFF;
    --TEXT-COLOR-SECONDARY: #0000008C;
    --BG-PRIMARY: #fff;
    --BG-SECONDARY: rgb(3, 45, 61);
    --BTN-PRIMARY-BG: #42445A;
    --BTN-SECONDARY-BG: PINK;
    --BTN-BORDER: WHITE;
    --BACK-GROUND-BLUR: #0000009e;
    --BORDER-LIGHT: rgba(128, 128, 128, 0.346);
    --BTN-COLOR-TEXT: YELLOW;
    --BG-3: #161937;
}

* {
    font-family: "Bebas Neue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.css-food-card-section {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.css-cart-container {
    width: 70px;
    height: 30px;
    background-color: var(--BG-SECONDARY);
    border-radius: 20px;
}

.css-cart-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

.css-cart-number-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: var(--TEXT_COLOR);
    justify-content: center;
}

.css-cart-button {
    background-color: var(--BG-SECONDARY);
    border: none;
    height: 30px;
    border-radius: 50%;
}

.css-order-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* background-color: red; */
}

.css-profile-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: var(--BG-SECONDARY);
    border-radius: 50%;
}

.css-header-search-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.css-page-search-input {
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: none;
    background-color: var(--BG-PRIMARY);
    padding: 10px;
}

.css-page-search-input:focus {
    outline: none;
}

.css-header-more-action-section {
    display: flex;
    gap: 30px;
    align-items: center;
}

.css-header-more-option {
    flex-grow: 1;
}

.css-profile-svg {
    fill: rgba(255, 255, 255, 0.691);
    height: 24px;
}

.css-page-title-section {
    height: 300px;
    background-image: url("../images/orders_img/Fried\ Plantains\ Recipe\ with\ Hot\ Pepper\ Sauce.jpeg");
    background-position: bottom;
    background-size: cover;
    margin: 0 20px;
    border-radius: 10px;
}

.css-what-are-in-store-header {
    text-align: center;
}

.css-off-color {
    color: red;
}

.css-what-are-instore-section {
    margin: 10px;
}

.css-what-are-in-store-category-section {
    margin: 50px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.css-food-category {
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.154);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
    fill: var(--TEXT-COLOR-SECONDARY);
}

.css-food-selected-category {
    background-color: var(--BG-SECONDARY);
    color: var(--TEXT_COLOR);
    fill: rgba(255, 255, 255, 0.691);
}

.css-food-categoy-svg {
    fill: inherit;
    height: 18px;
}

.css-food-card {
    width: 350px;
}

.css-food-card-img {
    width: 350px;
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
}

.css-food-card-img-section {
    /* background-color: red; */
    position: relative;
    background-color: transparent;
}

.css-card-description-top-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to bottom, white, white, transparent);
    /* color: white; */
    padding: 20px;
    /* mix-blend-mode: difference; */
}

.css-card-price-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--BG-PRIMARY);
    padding: 2px 5px;
    border-radius: 20px;
}

.css-food-card-action-section {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.css-add-to-card-container {
    flex-grow: 1;
    height: 30px;
    border-radius: 20px;
    background-color: var(--BG-SECONDARY);
    display: flex;
    align-items: center;
    padding: 5px;
}

.css-add-to-card-right-cont {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--BG-PRIMARY);
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-add-to-card-left-cont {
    flex-grow: 1;
}

.css-card-svg {
    fill: rgba(0, 0, 0, 0.691);
    height: 18px;
}

.css-more-btn {
    height: 40px;
    border-radius: 50%;
    width: 40px;
    border: none;
    background-color: transparent;
}

.css-search-btn {
    border: none;
    border-radius: 50%;
}

.css-search-button {
    fill: black;
}

.css-search-buton-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-search-section {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    background-color: var(--BACK-GROUND-BLUR);
    transition: opacity .3s;
}

.css-search-section-active {
    opacity: 1;
    pointer-events: all;
}

.css-search-result-display {
    margin-top: 30px;
    padding: 20px;
    color: white;
    flex-grow: 1;
    /* background-color: red; */
}

.css-display-card:first-child {
    border-top: 1px solid var(--BORDER-LIGHT);
}

.css-display-card {
    border-bottom: 1px solid var(--BORDER-LIGHT);
    padding: 10px;
    height: 40px;
}

.css-search-inner-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.css-close-search-btn {
    position: absolute;
    color: white;
    background-color: var(--BG-SECONDARY);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    top: -50px;
    right: 0;
}

.css-search-inner-section {
    height: 80vh;
    width: 90vw;
    background-color: var(--BG-SECONDARY);
    border-radius: 20px;
}

.css-search-input-section {
    margin-top: 50px;
    text-align: center;
}


/* .css-search-input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
} */

.css-more-svg {
    fill: var(--BG-SECONDARY);
    height: 24px;
}

@media (max-width:1034px) and (min-width:640px) {
    .css-food-card-section {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (min-width:640px) {
    .css-three-dots-more-section {
        display: none;
    }
    .header-more-imer-section {
        display: flex;
        gap: 30px;
    }
}

@media (max-width:640px) {
    .css-header-more-action-section {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 200;
    }
    .css-header-more-action-section-active {
        background-color: var(--BACK-GROUND-BLUR);
        pointer-events: all;
    }
    .css-food-card-section {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }
    .header-more-imer-section {
        width: 80vw;
        height: 100%;
        background-color: white;
        transform: translateX(-100%);
        transition: transform .3s;
    }
    .header-more-imer-section-active {
        transform: translateX(0%);
    }
    .cs-cancel-nav-container {
        height: 70px;
        text-align: right;
        padding: 10px;
    }
    .css-header-more-option {
        height: 40px;
        padding: 10px;
    }
    .css-cancel-namv-svg {
        fill: var(--BG-SECONDARY);
        height: 50px;
    }
    .css-close-nav-btn {
        background-color: transparent;
        border: none;
    }
}