/* SETUP */

body {
    font-size: 15pt;
    background-color: #fff;
}

html {
    scroll-behavior: smooth;
}


/* SETUP ENDS */

* {
    font-family: "Bebas Neue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --TEXT_COLOR: #FFF;
    --TEXT-COLOR-SECONDARY: #0000008C;
    --BG-PRIMARY: #fff;
    --BG-SECONDARY: rgb(3, 45, 61);
    --BTN-PRIMARY-BG: #42445A;
    --BTN-SECONDARY-BG: PINK;
    --BTN-BORDER: WHITE;
    --BACK-GROUND-BLUR: #00000087;
    --BORDER-LIGHT: rgba(128, 128, 128, 0.346);
    --BTN-COLOR-TEXT: YELLOW;
    --BG-3: #161937;
}


/* HEADER  */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 2000;
    position: fixed;
    top: 0;
    height: 70px;
    background-color: var(--BG-SECONDARY);
    width: 100vw;
}

.css-header_icon-csection {
    padding: 10px;
}

.css-header_icon-csection {
    padding: 10px;
}

.css-hamburger-icon-container {
    position: relative;
}

.css-hamburger-icon-container::after {
    content: "";
    top: 7px;
    position: absolute;
    display: block;
}


/* HAMBURGER ICON */

.css-hamburger-icon-container::before {
    position: absolute;
    content: "";
    display: block;
    top: -7px;
}

.css-hamburger-icon-container,
.css-hamburger-icon-container::before,
.css-hamburger-icon-container::after {
    background-color: var(--BG-PRIMARY);
    height: 1px;
    width: 20px;
    border-radius: 20px;
}

.css-hamburger-icon-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 70px;
    align-items: end;
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: red; */
    z-index: 2000;
}


/* HAMBURGER ICON ENDS */

.css-web-logo {
    outline: 1px solid white;
    outline-offset: 2px;
}


/* HEADER ENDS */


/* MAIN */


/* WEB LANDING PAGE */

.css-web-intro-section {
    margin-top: 8vh;
    height: 92vh;
    background-image: url("../images/istockphoto-1359467170-1024x1024.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.css-upper-intro {
    color: var(--TEXT_COLOR);
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
}

.css-web-intro-inner-section {
    height: 100%;
    background-color: var(--BACK-GROUND-BLUR);
}

.css-intro-button {
    height: 50px;
    width: 100px;
    margin: 10px;
    border: 1px solid var( --BTN-BORDER);
    background-color: transparent;
    color: var(--BTN-COLOR-TEXT);
    border-radius: 5px;
    font-weight: bold;
}

.css-intro-button:active {
    background-color: var(--BG-SECONDARY);
    color: var(--TEXT_COLOR);
    border: none;
}


/* WEB LANDING PAGE ENDS */


/* ABOUT US */

.css-about-us-section {
    padding: 20px;
    margin: 100px 0;
}

.css-color-red {
    color: red;
}

.css-about-us-body {
    color: #0000008C;
    padding: 10px;
    text-align: center;
}

.css-morehaboit-us-btn {
    color: red;
    width: 200px;
    height: 40px;
    border: 1px solid var(--BG-SECONDARY);
    background-color: transparent;
    border-radius: 5px;
}

.css-more-about-us-img-figure {
    position: relative;
    margin: 10px 0;
    height: fit-content;
}

.css-img-blur-container {
    background-color: var(--BACK-GROUND-BLUR);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* ABOUT US ENDS */


/* WHAT WE OFFER SECTION */

.css-what-we-offer-card {
    border-radius: 5px;
    margin: 60px auto;
    padding: 10px;
    width: 350px;
}

.css-what-we-offer-section {
    padding: 10px 30px;
}

.st0 {
    fill: var(--BG-SECONDARY);
}

.css-autonumus-svg,
.css-time-svg,
.css-24-hr-svg {
    fill: var(--BG-SECONDARY);
    width: 70px;
    stroke-linecap: round;
    border-radius: 50%;
}

.css-card-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.css-what-we-do-card-description-section {
    padding: 30px 5px;
    color: var(--TEXT-COLOR-SECONDARY);
}


/* WHAT WE OFFER SECTION ENDS */


/* MAIN ENDS */

.css-team-member-img {
    height: 400px;
    object-fit: cover;
    width: 350px;
    border-radius: 30px;
}

.css-our-team-member-img-section {
    position: relative;
}

.css-our-team-member-card {
    margin: 30px 10px;
    width: 350px;
    height: 400px;
}

.css-our-team-description-call-to-action-section {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: rgba(128, 123, 123, 0.255);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    backdrop-filter: blur(10px) saturate(160%);
}

.css-member-name-section {
    padding: 20px;
    color: #fff;
}

.css-call-to-acion-section {
    padding: 20px 0;
}

.css-contact-btn,
.css-see-profile-btn {
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--BG-3);
    color: var(--TEXT_COLOR);
}

.css-meet-our-tean-section {
    padding: 10px 30px;
}

.css-popup-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--BACK-GROUND-BLUR);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.css-popup-inner-section {
    padding: 20px;
    height: 350px;
    width: 350px;
    background-color: var(--BG-SECONDARY);
    border-radius: 20px;
}

.css-popup-message-section {
    margin: 20px;
    color: var(--TEXT_COLOR);
    font-size: 16px;
    text-align: center;
}

.css-popu-action-section {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-popup-action-btn {
    height: 40px;
    width: 70px;
    border-radius: 10px;
}

.css-socials-svg {
    fill: var(--BG-PRIMARY);
    width: 40px;
}

.css-socials-svg-email {
    fill: none;
    width: 40px;
}


/* FOOTER */

.css-nav-item-card>a {
    text-decoration: none;
    color: white;
}

footer {
    height: 50vh;
    background-color: var(--BG-SECONDARY);
}

.css-socials-icons-section {
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-socials-icons-inner-section {
    justify-content: space-around;
    display: flex;
    width: 350px;
}


/* FOOTER ENDS */

@media (min-width:640px) {
    .css-web-intro-section {
        background-position: top;
    }
    .css-nav-lower-section {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    nav {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .css-hamburger-icon-container {
        display: none;
    }
    .css-what-we-offer-cards-sections {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .css-more-about-us-body-descriptions-and-img-section {
        display: flex;
        gap: 100px;
        /* margin: 50px; */
    }
    .css-about-us-img {
        width: 500px;
    }
    .css-about-me-write-up {
        max-width: 50vw;
    }
    .css-what-we-offer-header {
        text-align: center;
    }
}

@media (max-width:640px) {
    nav {
        position: fixed;
        bottom: 0;
        left: -20vh;
        height: 200vh;
        width: 200vh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: none;
        pointer-events: none;
    }
    .css-nav-inner-section {
        height: 0px;
        width: 0px;
        opacity: 0;
        background-color: var(--BG-SECONDARY);
        border-radius: 50%;
        cursor: all;
        transition: all .5s;
    }
    .css-nav-content-section {
        position: sticky;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100vw;
    }
    .css-nav-top-section {
        height: 10vh;
        text-align: right;
    }
    .nav-inner-active {
        height: 200vh;
        width: 200vh;
        opacity: 1;
        cursor: none;
    }
    .nav-active {
        pointer-events: all;
        background-color: var(--BACK-GROUND-BLUR);
    }
    .css-close-nav-btn {
        height: 70px;
        background-color: transparent;
        color: var(--TEXT_COLOR);
        border: none;
    }
    .css-nav-item-card {
        height: 70px;
        text-align: right;
        color: white;
        padding: 10px;
    }
    .css-nav-top-section,
    .css-nav-lower-section {
        padding: 10px;
    }
    .css-nav-lower-section {
        background-color: var(--BG-3);
        margin: 20px;
        height: 70%;
        border-radius: 0 0 0 600px;
        font-size: 0.9rem;
    }
    .css-about-us-img {
        width: 350px;
    }
}

.css-more-abut-us-section {
    /* background-color: red; */
}

@keyframes close-navbar {}

@keyframes open-navbar {}