/* SETUP */
body {
    font-size: 15pt;
    background-color: #fff;
}
/* SETUP ENDS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --TEXT_COLOR:#FFF;
    --BG-PRIMARY: #fff;
    --BG-SECONDARY: #032D3D;
    --BTN-PRIMARY-BG:#42445A;
    --BTN-SECONDARY-BG:PINK;
    --BTN-BORDER: WHITE;
    --BACK-GROUND-BLUR: #00000087;
    
    --BTN-COLOR-TEXT:YELLOW;
}
/* HEADER  */


header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 2000;
     position: fixed;
    top: 0;
    height: 70px;
    background-color: var(--BG-SECONDARY);
    width: 100vw;
}
.css-header_icon-csection{
    padding: 10px;
}
.css-header_icon-csection{
    padding: 10px;
}
.css-hamburger-icon-container{
    position: relative;

}
.css-hamburger-icon-container::after {
    content: "";
    top: 7px;
    position: absolute;
    display: block;
    
    
}
/* HAMBURGER ICON */
.css-hamburger-icon-container::before{
    position: absolute;
    content: "";
  
    display: block;
    top: -7px;
    
}
.css-hamburger-icon-container,
.css-hamburger-icon-container::before,
.css-hamburger-icon-container::after{
    background-color: var(--BG-PRIMARY);
    height: 1px;
    width: 20px;
    border-radius: 20px;
    
}
.css-hamburger-icon-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 70px;
    align-items: end;
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: red; */
    z-index: 2000;
    
}
/* HAMBURGER ICON ENDS */
.css-web-logo{
    outline: 1px solid white;
    outline-offset: 2px;
}
/* HEADER ENDS */

/* MAIN */
main{
    height: 200vh;
}
/* WEB LANDING PAGE */
.css-web-intro-section{
    margin-top: 70px;
    height: 90vh;
    background-image: url("/assets/images/istockphoto-1359467170-1024x1024.jpg");
    background-position: left;
    background-size:cover;
    background-repeat: no-repeat;
}

.css-upper-intro{
    color: var(--TEXT_COLOR);
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
}
.css-web-intro-inner-section{
    height: 100%;
    background-color:var(--BACK-GROUND-BLUR);
}
.css-intro-button{
    height: 50px;
    width: 100px;
    margin: 10px;
    border: 1px solid var(
        --BTN-BORDER
    );
    background-color: transparent;
    
    color: var(--BTN-COLOR-TEXT);
    border-radius: 5px;
    font-weight: bold;
    
}
.css-intro-button:active{
    background-color: gold;
}
/* WEB LANDING PAGE ENDS */
/* ABOUT US */
.css-about-us-section{
    padding: 20px;
}
.css-color-red{
    color: red;
}

.css-about-us-body{
    color:#0000008C;
    padding: 10px;
    text-align: center;
}
.css-morehaboit-us-btn{
    color:red;
    width: 200px;
    height: 40px;
    border: 1px solid var(--BG-SECONDARY);
    background-color: transparent;
    border-radius: 5px;
    
}
.css-more-about-us-img-figure{
    position: relative;
    width: 350px;
    margin: 10px 0;
    height: fit-content;
}
.css-img-blur-container{
    background-color: var(--BACK-GROUND-BLUR);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.css-24-hr-svg{
    fill: var(--BG-SECONDARY);
    width: 100px;
    /* background-color: rgba(128, 128, 128, 0.185); */
    stroke-linecap: round;
    border-radius: 50%;
}
.css-24-hr-svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ABOUT US ENDS */
/* MAIN ENDS */
@media (min-width:640px) {
    .css-web-intro-section{
   
        background-position: top;

    }
    .css-nav-lower-section{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

    }
    nav{
        /* background-color: red; */
        color: white;
        display: flex;align-items: center;
        justify-content: center;

    }
    .css-hamburger-icon-container{
        display: none;
    }
    
}
@media (max-width:640px) {

    nav{
        position: fixed;
        bottom: 0;
        left: -20vh;
        height: 200vh;
        width: 200vh;
        
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: none;
        pointer-events: none;
        
    }

    .css-nav-inner-section{
        height: 0px;
        width:0px;
        opacity: 0;
        background-color: var(--BG-SECONDARY);
        border-radius: 50%;
        cursor:all;
        transition: all .5s;
        
    }
    .css-nav-content-section{
        position: sticky;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100vw;
        
    }
    .css-nav-top-section{
        height: 10vh;
        text-align: right;
    }
    .nav-inner-active{
        height: 200vh;
        width: 200vh;
        opacity:1;
        cursor: none;
    }
    .nav-active{
        pointer-events: all;
        background-color: #000000BA;
    }
    .css-close-nav-btn{
        height: 70px;
        background-color: transparent;
        color: #fff;
        border: none;
        
    }
    .css-nav-item-card{
        height: 70px;
        
        text-align: right;
        color: white;
        padding: 10px;
    }

    .css-nav-top-section,
    .css-nav-lower-section{
        padding: 10px;
    }
    .css-nav-lower-section{
        background-color: #161937;
        margin: 20px;
        height: 70%;
        border-radius: 0 0 0 600px;
        font-size: 0.9rem;
    }
    
}
@keyframes close-navbar{


}
@keyframes open-navbar{
    
}